* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  --white: #fff;
  --black: #0E0E10;
  --border-color: #DBDDE1; 
}

body {
  display: flex;
  flex-direction: column;
  color: var(--black);
  background-color: var(--white);
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.br-12 {
  border-radius: 12px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  padding: 0px 140px;
  border-bottom: 1px solid var(--border-color);
  transition: background-color 0.5s ease; 
}

.home-header-position {
  position: absolute;
  z-index: 1000;
}

.hover-header li a {
  color: var(--white);
  transition: 0.3s ease;
}

.hover-header-icon {
  filter: brightness(0) invert(1);
}

.hover-header:hover  {
  background-color: var(--white);
}

.hover-header:hover li a {
  color:  var(--black);
}

header:hover .hover-header-icon {
  filter: brightness(100%)
}

header li a {
  text-align: center;
  height: 100%;
  color: var(--black);
  text-decoration: none;
}

.header-icon {
  margin: 10px 0;
  height: 30px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.header-icon:hover {
  transform: scale(1.3);
}

.header-icon::after {
  transform: scale(0);
  transition: transform 0.3s ease;
}

.header-nav {
  width: 418px;
  height: 100%;
}

.header-list {
  flex: 1;
  justify-content: space-around;
  list-style: none;
  height: 100%;
}

.header-list li {
  height: 100%;
  position: relative;
}

.header-list li::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 0;
  height: 2px;
  background: var(--black);
  transition: max-width 0.3s ease;
  transform-origin: center;
}

.header-list li:hover::after {
  max-width: 100%;
}

.hero-section {
  position: relative;
  flex-wrap: wrap;
  background-color: #D5DCE5;
  height: 100vh;
  padding: 16px;
  overflow: hidden;
  z-index: 0;
}

.hero-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #00000000, #00000080), url('assets/city.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: zoomOut 2s ease-out forwards;
}

@keyframes zoomOut {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.hero-mid {
  position: relative;
  bottom: 50px;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}

.hero-main-text {
  font-weight: bolder;
  font-size: 48px;
  cursor: default;
}

.hero-image {
  width: 300px;
  height: 300px;
}

.hero-btn, .btn-two, .book-btn ,.get-started-btn, .auth-btn {
  align-self: center;
  justify-self: center;
  color: var(--white);
  border-radius: 24px;
  text-decoration: none;
  padding: 8px 16px;
  transition: all 0.3s ease 0s;
}

.auth-btn {
  height: 45px;
  width: 250px;
}

.hero-btn {
  border: 2px solid var(--white);
}

.hero-btn:hover {
  background-color: var(--white);
  color: var(--black);
}

.btn-two, .book-btn, .get-started-btn, .auth-btn {
  background-color: #3882f6;
}

.btn-one:hover, .btn-two:hover, .book-btn:hover, .get-started-btn:hover {
  background-color: #3d77d3;
}

.info-section {
  background-color: var(--white);
  justify-content: space-evenly;
  padding: 100px;
  flex-wrap: wrap;
}

.box-section {
  flex-wrap: wrap;
  background-color: #EDF2F7;
  padding: 20px;
  height: 60vh;
  gap: 64px;
}

.info-text {
  width: 480px;
  margin: 20px;
}

.info-img  {
  width: 300px; 
  height: 300px;
}

.box {
  border: solid 3px #3882f6;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  transform: scale();
  width: 150px;
  height: 150px;
}

.box:hover {
  transform: scale(1.2);
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 52px;
  padding: 0 140px;
  color: #A88D91;
  border-top: 1px solid var(--border-color);
}

.dev-name {
  font-weight: bolder;
}

.footer-list {
  list-style: none;
  width: 418px;
  justify-content: space-evenly;
}

.dorms-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 0 32px;
  min-height: 100vh;
}

.dorms-listing {
  flex-direction: column;
  width: 1000px;
}

.search-wrapper {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 10px;
}

.search-wrapper p {
  font-size: 12px;
  font-weight: bold;
  color: var(--black);
}

.filters-container {
  width: 180px;
  margin-top: 32px;
}

.filters-divider {
  border: 1px solid #E4EAF2;
  margin: 8px 0;
}

.filter-options {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filter-option {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

input[type="checkbox"] + label:before {
  border: 2px solid black;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background: #E4EAF2;
}

input[type="checkbox"]:checked + label:before {
  background: #3882f6;
}

input[type="checkbox"]:checked + label:after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="white"><path d="M5.5 10.79l-3.79-3.78-1.41 1.41 5.19 5.18 9.19-9.17-1.41-1.41z"/></svg>');
  position: absolute;
  top: 1px;
  left: 3px;
}

.move-dates {
  flex-direction: column;
  align-items: flex-start;
  border: none;
  outline: none;
}

.search-button {
  font-size: 14px;
  border-left: 2px solid #cbd2db;
  font-weight: bold;
  color: var(--black);
  padding: 8px 16px;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  border-radius: 0 12px 12px 0;
}

.search-button:hover {
  background-color: #e9eef2;
}

.search-bar {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-left: 10px;
  margin-top: 20px;
  background-color: #EDF2F7;
}

.search-form {
  flex-grow: 1;
}

.search-input, .auth-input {
  outline: none;
  border: none;
  background-color: inherit;
  border-radius: 0 16px 16px 0;
  padding-left: 10px;
  font-size: 16px;
  width: 100%;
  height: 45px;
}

.auth-input::placeholder, .search-input::placeholder {
  opacity: 0.5;
}

.dorm-card-root {
  margin-top: 10px;
  z-index: 0;
}

.move-dates-wrapper {
  display: flex;
  padding-left: 32px;
  background-color: #EDF2F7;
  height: 45px;
  gap: 30px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

.move-input {
  border: none;
  outline: none;
  background-color: inherit;
  font-size: 12px;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.search-input::placeholder,
.search-icon {
  color: rgba(0,0,0,0.5);
}

.dorm-card {
  display: flex;
  border: 2px solid var(--border-color);
  gap: 16px;
  width: 100%;
  height: 260px;
  margin: 16px 0;
  transition: all 0.3s ease 0s;
  transform: scale();
}

.dorm-card:hover{
  transform: scale(1.02);
}

.dorms-image {
  display: flex;
  width: 270px;
  border-radius: 10px 0 0 10px;
  background-color: #cbd2db;
}

.dorm-info {
  display: flex;
  flex: 1;
  margin-right: 12px;
  flex-direction: column;
  padding: 12px 0 12px 0;
}

.btn-two, .under-review-btn {
  padding: 8px 32px;
  align-self: flex-end;
  justify-self: flex-end;
  margin-top: auto;
  border-radius: 24px;
}

.under-review-btn {
  background-color: #D5DCE5;
  color: var(--black);
  opacity: 50%;
}

.price {
  font-weight: 200;
}

.auth-section {
  margin: 32px 0;
}

.sign-up-body {
  background: linear-gradient(to bottom, #B5D2ED, #6191BC);
}

.auth-container {
  display: flex;
  width: 1140px;
  height: 824px;
  background-color: var(--white);
  border-radius: 16px;
}

.su-auth {
  flex-direction: column;
  justify-content: space-evenly;
  border: 2px solid #D5DCE5;
}

.auth-left {
  flex-direction: column;
  width: 580px;
  gap: 100px;
}

.auth-right {
  width: 580px;
  background: url('assets/auth-bg.svg') no-repeat center center;
}

.sign-up {
  display: flex;
  flex: 1;
  flex-direction:column;
  align-items: center;
  justify-content: top;
  padding: 19px 0 12px 0;
  margin-top: 60px;
  margin-bottom: 30px;
}

.auth-column {
  display: flex;
  align-items: flex-start;
  gap: 80px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-layout {
  display: flex;
  gap: 4px;
  justify-content:flex-start;
  flex-direction: column;
  font-weight: 600;
}

.auth-actions-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 8px;
}

.auth-img {
  height: max-content;
  background-color: #A88D91;
}



.auth-input {
  height: 45px;
  width: 400px; 
  padding-left: 10px;
  background-color: rgb(244, 242, 253);
}

.auth-prompt {
  text-decoration: none;
  color: #551a8b;
}

.auth-actions-container p, .auth-prompt {
  font-weight: 300;
}

.su-auth-actions-container {
  margin-top: 64px;
  gap: 64px;
}

.forgot-pw {
  align-self: flex-end;
}

.auth-heading {
  text-align: center;
}

.pic {
  display: flex;
  justify-content: center;
  align-items:center;
  height: 630px;
  width: 530px;
  border-radius: 0px 20px 20px 0px;
}

.dorm-info-section {
  flex-wrap: wrap;
  flex-direction: column;
  padding: 32px;
  max-width: 1290px;
  width: 100%;
}

.carousel {
  display: flex;
  list-style: none;
  margin: 0 8px;
  gap: 8px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  ::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel .item {
  flex: 0 0 auto;
  scroll-snap-align: center;
  background-color: #E4EAF2;
  width: 400px;
  height: 250px;
}

.slide-btn {
  font-size: 24px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  margin: 16px 0;
  gap: 8px;
}

.tag {
  font-size: 12px;
  background-color: #EDF2F7;
  padding: 8px 20px;
}

.dorm-overview {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  width: 100%;
  margin-bottom: 32px;
}

.dorm-overview-left, .dorm-overview-right {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  border: 2px solid var(--border-color);
  border-radius: 12px;
}

.dorm-overview-left {
  width: 740px;
}

.dorm-overview-right {
  width: 400px;
}

.dorm-info-text, .dorm-heading {
  border-bottom: 2px solid var(--border-color);
  padding: 10px;
}

.dorm-contact {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-evenly;
  padding: 10px 0;
}

.room-card {
  display: flex;
  height: 200px;
}

.room-card-p {
  padding: 10px 0;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 105px;
}

.room-book {
  flex-direction: column;
  gap: 8px;
  padding: 10px 0;
  width: 230px;
  min-width: 160px;
  border-left: 2px solid var(--border-color);
}

.room-card-right {
  display: flex;
  flex-wrap: wrap;
}

.user-profile-section {
  flex-flow: column wrap;
  padding: 32px;
  max-width: 1290px;
  width: 100%;
}

.section-heading {
  align-self: flex-start;
  margin: 16px 0;
}

.user-profile-container {
  flex-wrap: wrap;
  width: 100%;
  min-height: 320px;
  border: 2px solid var(--border-color);
}

.user-profile-image {
  padding: 60px;
}

.user-left-info {
  flex-grow: 1;
}

.user-right-info {
  flex-grow: 1;
  width: 620px;
  height: 320px;
  flex-direction: column;
}

.user-info-details * {
  display: flex;
  width: 100%;
}

.user-info-details {
  padding: 0 32px;
  flex: 1;
  width: 100%;
  border-left: 2px solid var(--border-color);
  border-top: 2px solid var(--border-color);
}

.btop-0 {
  border-top: 0px;
}

.user-info-value, .tag {
  font-weight: 500;
}

.user-welcome-section {
  padding: 32px;
  width: 100%;
}

.user-welcome-container {
  flex-direction: column;
  gap: 16px;
  padding: 32px;
  border: 2px solid var(--border-color);
  width: 474px;
  height: max-content;
}

.user-features-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 32px;
}

.welcome-user {
  font-size: 32px;
}
